.navbar .nav-link {
    font-size: 14px;
    color: whitesmoke;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
}
body {
    overflow-x: hidden;
}/*  */

.navbar {
    background: url("../img/tor.jpg");
    background-position: 58% 50%;
    background-repeat: repeat-y;
    background-blend-mode: color-dodge;
    top: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 2;
}


.navbar .nav-item.active {
    border-left: rgb(217, 37, 37) 3px solid;
}

.carousel-item {
    margin-top: 26px;
    border-top: rgb(207, 48, 48) 6px solid;
    height: 700px;
}

.carousel-image-1 {
    background: url("../img/img1.jpeg");
    background-size: cover;
}

.carousel-image-2 {
    background: url("../img/img2.jpeg");
    background-size: cover;
}

.carousel-image-3 {
    background: url("../img/img3.jpeg");
    background-size: cover;
}

.fa {
    font-size: 55px;
    color: orange;
}

#home-heading {
    position: relative;
    min-height: 300px;
    background: url("../img/class.jpg");
    background-size: cover;
    background-position: 40% 20%;
    background-attachment: fixed;
    width: 100%;
}

.dark-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.59);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

#page-header{
  margin-top: 60px;
  min-height:200px;
  position: relative;
  background: url("../img/img1.jpeg");
  border-top: rgb(207, 48, 48) 6px solid;
  background-position:center 1;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  z-index: 1;

}
.new{
  margin-top: 33px;
}
